html,body {

    background: url("assets/images/anthony-adu-1g1Sb1oD188-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

